// Custom style...

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-sans {
  font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*
 * Dropdown Menu Animation for Bootstrap Navbar
 * https://startbootstrap.com/snippets/animated-navbar-dropdown
 */

// Change this breakpoint if you change the breakpoint of the navbar
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.bg-indigo {
  background-color: #6574cd !important;
}

.h-5 {
  height: 1.25rem !important;
}

.w-5 {
  height: 1.25rem !important;
}

.flex-1 {
  flex: 1 1 0%;
}

.bg-light {
  background: #f3f4f6 !important;
}

.card {
  border-radius: 0.475rem;
  border: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f9fafb;
  border-top: 0;
}

.card-footer:last-child {
  border-radius: 0 0 0.475rem 0.475rem;
}

.dropdown-menu {
  width: 220px;
}

.small {
  font-size: .875rem !important;
}

.h-2 {
  height: .9rem!important;
}

.navbar-light {
  background: #FFF;
}

a.icon-list-social-link {
  font-size: 20px;
  margin-right: 10px;
}

.footer-dark a {
    color: #fff;
    text-decoration: underline;
}

.navbar.fixed-top {
    background: transparent linear-gradient(95deg, #525252 0%, #3D72B4 100%) 0% 0% no-repeat padding-box;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.navbar-toggler {
    border: none;
}

.border-top-gradient {
    border-top: 5px solid;
    border-image-source: linear-gradient(95deg, #525252 0%, #3D72B4 100%);
    border-image-slice: 1;
}

.gradient-cone {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1920' height='716.636' viewBox='0 0 1920 716.636'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='0.5' x2='0.5' y2='1' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23525252'/%3E%3Cstop offset='1' stop-color='%233d72b4'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath id='Path_2' data-name='Path 2' d='M1920-193.646,0-3.316V345.606L1920,522.99Z' transform='translate(0 193.646)' fill='url(%23linear-gradient)'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 1920/716;
}

.home-gradient {
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1920' height='679.058' viewBox='0 0 1920 679.058'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x2='1' y2='1' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23525252'/%3E%3Cstop offset='1' stop-color='%233d72b4'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath id='Path_1' data-name='Path 1' d='M0,0H1920V679.058L0,234.822Z' fill='url(%23linear-gradient)'/%3E%3C/svg%3E%0A");
    */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1920' height='538.433' viewBox='0 0 1920 538.433'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x2='1' y2='1' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23525252'/%3E%3Cstop offset='1' stop-color='%233d72b4'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath id='Path_1' data-name='Path 1' d='M0,140.625H1920V679.058L0,234.822Z' transform='translate(0 -140.625)' fill='url(%23linear-gradient)'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

footer {
    background: transparent linear-gradient(180deg, #525252 0%, #3D72B4 100%) 0% 0% no-repeat padding-box;
}

.flex-grow {
    flex-grow: 1;
    margin-top: 75px;
}